main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: inherit;
}

.fond-tache{
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    padding: 30px;
    border-radius: 15px;
    gap: 15px;
}

.ajout-tache{
    display: flex;
    width: -moz-available;
}

.list-tache{
    display: flex;
}

h1{
    justify-content: center;
    display: flex;
}

.component-form{
    width: inherit;
}


